<div>
  <sly-field title="Export format">
    <el-select v-model="state.format" placeholder="Select format">
      <el-option key="sly" label="Supervisely" value="sly"></el-option>
      <el-option
        key="per_vertex_labels"
        label="Per-Vertex Labels"
        value="per_vertex_labels"
      ></el-option>
    </el-select>
  </sly-field>

  <sly-field title="Destination">
    <el-radio-group v-model="state.exportDestination">
      <el-radio-button label="regular">Regular export</el-radio-button>
      <el-radio-button label="cloud">Cloud export</el-radio-button>
    </el-radio-group>
  </sly-field>

  <sly-field
    v-if="state.exportDestination === 'cloud'"
    title="Cloud storage folder"
  >
    <sly-select-team-files
      :team-id="context.teamId"
      :options="{
        showCloudStorage: true,
        showAgentStorage: false,
        selectionFileType: 'folder',
        initialFolder: { path: '/Cloud Storages/' },
      }"
      @items-selected="(items) => {
        state.cloudExportPath = items && items.length ? items[0].path : '';
      }"
    />
  </sly-field>

  <div v-if="state.format === 'sly'">
    <el-checkbox v-model="state.downloadAnnotations" disabled>
      Download annotations (.json) and mesh indices (.bin)
    </el-checkbox>
    <div class="mt10">
      <el-checkbox v-model="state.downloadMeshes">
        Download mesh data (.ply / .stl / .obj)
      </el-checkbox>
    </div>
  </div>

  <div v-if="state.format === 'per_vertex_labels'">
    <div class="mt10">
      <el-checkbox v-model="state.downloadMeshes" disabled>
        Download mesh data (.ply / .stl / .obj)
      </el-checkbox>
    </div>
  </div>
</div>
